@import url("https://fonts.googleapis.com/css2?family=Song+Myung&family=Sora:wght@200;300;400;477;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Noto Sans KR";
  src: inherit;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: inherit;
  unicode-range: U+0020-007E;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Sora", "Noto Sans KR", "Song Myung", sans-serif;
}

button {
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}
